option:disabled,select[disabled]>option {
	color: #dcdcdc
}

@font-face {
	font-family:'bsui';src:url(//at.alicdn.com/t/font_fjrku44jebn5qaor.eot);src:url(//at.alicdn.com/t/font_fjrku44jebn5qaor.eot?#iefix) format("embedded-opentype"),url(//at.alicdn.com/t/font_fjrku44jebn5qaor.woff) format("woff"),url(//at.alicdn.com/t/font_fjrku44jebn5qaor.ttf) format("truetype"),url(//at.alicdn.com/t/font_fjrku44jebn5qaor.svg#bsui) format("svg")
}[class*=" bsui_m_icon-"],[class^=bsui_m_icon-] {
	display: inline-block;
/* 	vertical-align: top; */
	font: 14px/1 "bsui";
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased
}[class*=" bsui_m_icon-"]:before,[class^=bsui_m_icon-]:before {
	display: inline-block
}

.bsui_m_icon-home:before {
	content: "\e783"
}

.bsui_m_icon-home.active:before,.bsui_m_icon-home:active:before {
	content: "\e784";
	color: #19ad19
}

.bsui_m_icon-catch:before {
	content: "\e77c"
}

.bsui_m_icon-catch.active:before,.bsui_m_icon-catch:active:before {
	content: "\e77d";
	color: #19ad19
}

.bsui_m_icon-person:before {
	content: "\e792"
}

.bsui_m_icon-person.active:before,.bsui_m_icon-person:active:before {
	content: "\e793";
	color: #19ad19
}

.bsui_m_icon-edit:before {
	content: "\e7b4";
	font-size: 14px;
	color: #2ad5e8
}

.bsui_m_icon-female,.bsui_m_icon-male {
	font-size: 0;
	vertical-align: middle
}

.bsui_m_icon-female:before,.bsui_m_icon-male:before {
	content: "\e60c";
	font-size: 14px;
	color: #29bde9;
	vertical-align: middle;
	margin-left: 5px
}

.bsui_m_icon-female:before {
	content: "\e60d";
	color: #fd5f5e
}

.bsui_m_icon-eye:before {
	content: "\e82c";
	font-size: 12px;
	vertical-align: middle;
	margin: 0 3px 1px 5px;
	line-height: 19px
}

.bsui_m_icon-ticket:before {
	content: "\e7a5"
}

.bsui_m_icon-invite:before {
	content: "\e7c1"
}

.bsui_m_icon-fav:before {
	content: "\e7b1"
}

.bsui_m_icon-pay:before {
	content: "\e7de"
}

.bsui_m_icon-addr,.bsui_m_icon-time {
	margin-right: .31253rem
}

.bsui_m_icon-addr:before {
	content: "\e7c0"
}

.bsui_m_icon-time:before {
	content: "\e789"
}

.bsui_m_icon-down,.bsui_m_icon-up {
	height: 8px;
	margin-left: 8px
}

.bsui_m_icon-down:before,.bsui_m_icon-up:before {
	content: ' ';
	width: 6px;
	height: 6px;
	border: 1px solid;
	color: #666;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	-webkit-transform: rotateZ(-135deg);
	transform: rotateZ(-135deg)
}

.bsui_m_icon-up:before {
	border-top: 0;
	border-left: 0
}

.bsui_m_icon-down:before {
	margin-top: -3px;
	border-bottom: 0;
	border-right: 0
}

.bsui_m_icon-index-home,.bsui_m_icon-index-share {
	vertical-align: middle;
	margin-right: 6px
}

.bsui_m_icon-index-home:before {
	content: "\e783";
	color: #fff;
	font-size: 16px
}

.bsui_m_icon-index-share:before {
	content: "\e82d";
	color: #fff;
	font-size: 16px
}

.bsui_m_icon-index-addr:before {
	content: "\e84d";
	color: #3a98e0;
	font-size: 30px
}

.bsui_m_icon-index-price:before {
	content: "\e77a";
	color: #3a98e0;
	font-size: 30px
}

.index .index_bg_title h4,.text_overflow {
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis
}

.text_center {
	text-align: center
}

.mt15 {
	margin-top: .93759rem
}

.tips {
	color: #999;
	font-size: 13px
}

.spacing {
	padding: 1.25012rem 15px
}

.pull-right {
	float: right
}

.hide {
	display: none
}

body,html {
	-webkit-tap-highlight-color: transparent
}

html {
	font-size: 16px
}

body {
	overflow-x: hidden;
	background-color: #eee;
	font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

.container {
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}

.weui-navbar {
	z-index: 1001
}

.weui-navbar.fixed {
	position: fixed
}

.weui-navbar.no-flex {
	width: 100%;
	white-space: nowrap;
	overflow-x: auto
}

.weui-navbar.no-flex .weui-navbar__item {
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	display: inline-block;
	padding: 8px 15px;
	color: #999
}

.weui-navbar.no-border,.weui-navbar.no-flex {
	background-color: #fff
}

.weui-navbar.no-border .weui-navbar__item {
	padding: 8px 15px;
	color: #999
}

.weui-navbar.no-border .weui-navbar__item:after,.weui-navbar.no-border:after {
	border: 0
}

.weui-navbar.no-border .weui-navbar__item:last-child:after {
	display: block
}

.weui-navbar.no-border .weui-navbar__item.weui-bar__item_on {
	background-color: inherit;
	color: #333
}

.weui-navbar.no-border .weui-navbar__item.weui-bar__item_on:after {
	border: 0;
	position: absolute;
	left: 50%;
	top: 32px;
	width: 30px;
	margin-left: -22px;
	height: 2px;
	background-color: #333
}

.weui-navbar .weui-bar__item_on .bsui_m_icon-down:before {
	margin-top: 10px;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg)
}

.weui-tabbar {
	position: fixed;
	z-index: 0
}

.weui-tabbar .weui-tabbar__icon i:before {
	font-weight: 200
}

.weui-tabbar .weui-tabbar__label.active {
	color: #19ad19
}

.weui-toast {
	width: 120px;
	min-height: 120px
}

.weui-toast .weui-toast__content {
	font-size: 15px
}

.weui-vcode-btn.disabled {
	color: #ccc
}

.weui-cells__tips {
	padding: 10px 15px;
	color: #999
}

.weui-panel.no-top {
	margin-top: 0
}

.weui-tab__panel.no-top {
	padding-top: 40px
}

.weui-tab__panel.no-bottom {
	padding-bottom: 0
}

.suggest-cnt {
	position: absolute;
	top: 43px;
	left: 0;
	z-index: 999;
	border-bottom: 1px solid #b4b4b4;
	border-top: 0;
	width: 100%;
	background: #fff
}

.suggest-cnt .sug-item {
	font-size: 16px;
	line-height: 36px;
	border-top: 1px solid #f4f4f4;
	color: #555;
	text-align: left;
	word-break: break-all;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	padding-left: 20px
}

.record .weui-panel {
	margin-top: 0
}

.record .weui-cell__ft:after {
	position: absolute;
	top: 50%;
	margin-top: -4px
}

.record .person_info .person_opt {
	position: relative;
	font-size: 0
}

.record .person_info .person_opt .header_btn {
	width: 3.75038rem;
	height: 3.75038rem
}

.invite_list {
	background-color: #fff;
	padding-top: 50px
}

.invite_list .weui-media-box {
	padding: 10px 0 10px 10px
}

.invite_list .weui-media-box__hd {
	margin-left: 5px
}

.invite_list h4 {
	margin-top: 10px;
	font-size: 17px;
	color: #666
}

.invite_list .item_phone {
	font-size: 14px;
	color: #999
}

.invite_list .weui-media-box__ft {
	font-size: 14px;
	margin-right: 15px
}

.invite_list .weui-media-box__ft.success {
	color: #04be02
}

.meeting_list {
	position: relative
}

.meeting_list .disabled {
	position: absolute;
	background-color: #fff;
	opacity: .75;
	width: 100%;
	left: 0;
	right: 0;
	top: 1px;
	bottom: 1px
}

.meeting_list .text-disabled .weui-media-box__desc,.meeting_list .text-disabled .weui-media-box__title {
	color: #dadada
}

.meeting_list .weui-media-box {
	padding: 8px 15px
}

.meeting_list .weui-media-box:before {
	left: 130px
}

.meeting_list .weui-media-box .weui-media-box__bd .weui-media-box__title {
	line-height: 1.1;
	margin-bottom: 8px
}

.meeting_list .weui-media-box .weui-media-box__bd .weui-media-box__desc {
	margin-top: 6px;
	-webkit-line-clamp: 1
}

.meeting_list .weui-media-box .weui-media-box__bd .weui-media-box__desc.price {
	position: absolute;
	right: 20px;
	bottom: 15px;
	color: #19ad19
}

.meeting_list .weui-media-box .weui-media-box__bd .weui-media-box__desc [class*=" bsui_m_icon-"],.meeting_list .weui-media-box .weui-media-box__bd .weui-media-box__desc [class^=bsui_m_icon-] {
	display: inline-block;
	width: 13px;
	height: 13px;
	vertical-align: baseline
}

.meeting_list .weui-media-box .weui-media-box__hd {
	position: relative;
	width: 100px;
	height: 75px;
	line-height: 75px
}

.meeting_list .weui-media-box .weui-media-box__hd .weui-media-box__thumb {
	max-height: none;
	width: 100px;
	height: 75px
}

.meeting_list .weui-media-box .weui-media-box__hd .thumb_bg {
	position: absolute;
	bottom: 0;
	height: 20px;
	width: 100%;
	background-color: #000;
	opacity: .45;
	z-index: 0
}

.meeting_list .weui-media-box .weui-media-box__hd .thumb_info {
	position: absolute;
	bottom: 0;
	line-height: 20px;
	width: 100%;
	color: #fff;
	text-align: left
}

.meeting_list .weui-media-box .weui-media-box__hd .thumb_info .thumb_view_num {
	position: relative;
	left: 6px;
	font-size: 12px
}

.meeting_list .weui-media-box .weui-media-box__hover {
	position: absolute;
	right: 12px;
	top: 12px;
	width: 66px;
	height: 66px;
	background: url(../img/bsui_etc_pending.svg) center no-repeat;
	background-size: contain
}

.media_record {
	padding: 0
}

.media_record .weui-cells {
	margin-top: 0
}

.media_record .weui-cell:before {
	left: 0
}

.media_record .weui-cell__hd {
	white-space: nowrap;
	margin-right: 15px;
	height: 44px;
	line-height: 44px;
	color: #999
}

.media_record .weui-cell__bd {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 44px;
	padding: 8px 0
}

.media_record .weui-cell__bd .weui-media-box__desc {
	-webkit-line-clamp: 1;
	font-size: 17px;
	color: #333
}

.media_record .weui-cell__bd .weui-media-box__price {
	margin-top: 3px;
	font-size: 18px;
	color: #09bb07
}

.media_record .weui-cell__bd .weui-media-box__price .date {
	margin-top: 4px;
	font-size: 15px;
	float: right;
	color: #999
}

.media_invoice {
	margin-top: 0;
	padding: 0
}

.media_invoice .weui-cells {
	margin-top: 0;
	width: 100%
}

.media_invoice .weui-cells .weui-cell .disabled {
	position: absolute;
	background-color: #fff;
	opacity: .75;
	width: 100%;
	left: 0;
	right: 0;
	top: 1px;
	bottom: 1px
}

.media_invoice .weui-cells .weui-cell .disabled-img {
	position: absolute;
	top: 10px;
	right: 80px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	background-color: rgba(255,255,255,.75);
	border: 1px solid #999;
	color: #999
}

.media_invoice .weui-cells .weui-cell .disabled-img.red {
	border: 1px solid #b70000;
	color: #b70000
}

.media_invoice .weui-cells .weui-cell .disabled-img.green {
	border: 1px solid green;
	color: green
}

.media_invoice .weui-cells .weui-cell__hd {
	white-space: nowrap
}

.media_invoice .weui-cells .weui-cell__hd:before {
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	left: 15px;
	top: 50%;
	margin-top: -11px;
	margin-right: .2em;
	width: 1em;
	line-height: 1em;
	text-align: center;
	opacity: .8;
	content: '\EA01';
	color: #c9c9c9;
	font-size: 23px;
	font-family: "weui";
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	speak: none;
	text-decoration: inherit
}

.media_invoice .weui-cells .weui-cell__hd.checked:before {
	content: '\EA06';
	color: #09bb07
}

.media_invoice .weui-cells .weui-cell__bd {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-left: 35px
}

.media_invoice .weui-cells .weui-cell__bd.no_left {
	margin-left: 0;
	margin-right: 15px
}

.media_invoice .weui-cells .weui-cell__bd .weui-media-box__desc {
	-webkit-line-clamp: 1;
	font-size: 17px;
	color: #333
}

.media_invoice .weui-cells .weui-cell__bd .weui-media-box__price {
	font-size: 18px;
	margin-top: 2px;
	color: #09bb07
}

.media_invoice .weui-cells .weui-cell__bd .weui-media-box__price .date {
	margin-top: 4px;
	font-size: 15px;
	float: right;
	color: #999
}

.pay .weui-panel__bd {
	background-color: #fff
}

.pay .pay_fields .weui-cells_form:not(:first-child) {
	margin-top: -1px
}

.pay .pay-choose .weui-media-box.checked .weui-media-box__title {
	font-weight: 500
}

.pay .pay-choose .weui-media-box.checked .weui-media-box__ft .weui-icon-checked {
	vertical-align: top
}

.pay .pay-choose .weui-media-box.checked .weui-media-box__ft .weui-icon-checked:before {
	content: '\EA08';
	color: #09bb07;
	font-size: 16px
}

.pay .pay-choose .weui-media-box.disabled,.pay .pay-choose .weui-media-box.disabled .weui-media-box__desc,.pay .pay-choose .weui-media-box.disabled .weui-media-box__info {
	color: #dcdcdc
}

.pay .pay-choose .weui-media-box .weui-media-box__ft {
	display: block;
	height: 16px;
	width: 22px;
	margin-left: 10px
}

.pay .pay-choose .weui-media-box .weui-media-box__desc {
	min-height: 30px
}

.pay .pay-choose .weui-media-box .weui-media-box__info {
	margin-top: 5px
}

.pay .pay-choose .weui-media-box .weui-media-box__info .weui-media-box__info__meta {
	float: left
}

.pay .pay-choose .weui-media-box .weui-media-box__info .weui-media-box__info__meta_extra {
	padding-left: 0;
	border-left: 0;
	float: right
}

.pay .weui-cells {
	overflow: inherit
}

.top-panel .weui-media-box .weui-media-box__hd {
	width: 80px;
	font-size: 0
}

.top-panel .weui-media-box .weui-media-box__hd .weui-media-box__thumb {
	width: 80px;
	height: 60px;
	max-height: none
}

.top-panel .weui-media-box .weui-media-box__hd .weui-media-box__thumb.org_thumb {
	width: 60px
}

.top-panel .weui-media-box .weui-media-box__bd {
	margin-left: 15px
}

.top-panel .weui-media-box .weui-media-box__bd .weui-media-box__title {
	overflow: inherit;
	text-overflow: inherit;
	word-wrap: normal;
	white-space: initial;
	line-height: 1.2;
	margin-bottom: 8px
}

.top-panel .weui-media-box .weui-media-box__bd .weui-media-box__desc {
	margin-top: 6px
}

.ticket {
	padding: 15px;
	box-sizing: border-box
}

.ticket.green {
	background-color: #19ad19
}

.ticket.blue {
	background-color: #29b6f6
}

.ticket.yellow {
	background-color: #f7ba2a
}

.ticket .ticket-panel {
	border-radius: 5px;
	background-color: #fff
}

.ticket .ticket-panel .ticket_price_panel {
	border-bottom: 1px dashed #e5e5e5
}

.ticket .ticket-panel .ticket_price_panel:before {
	border-top: 1px dashed #e5e5e5;
	-webkit-transform: scaleY(1);
	transform: scaleY(1)
}

.ticket .ticket-panel .ticket_price_panel .ticket_circle {
	position: absolute;
	top: -12px;
	width: 24px;
	height: 24px;
	background-color: #eee;
	border-radius: 50%
}

.ticket .ticket-panel .ticket_price_panel .ticket_circle.left {
	left: -12px
}

.ticket .ticket-panel .ticket_price_panel .ticket_circle.right {
	right: -12px
}

.ticket .ticket-panel .ticket_price_panel .ticket_circle.green {
	background-color: #19ad19
}

.ticket .ticket-panel .ticket_price_panel .ticket_circle.blue {
	background-color: #29b6f6
}

.ticket .ticket-panel .ticket_price_panel .ticket_circle.yellow {
	background-color: #f7ba2a
}

.ticket .ticket-panel .ticket_price_panel .weui-media-box__title {
	margin-bottom: 5px
}

.ticket .ticket-panel .ticket_info {
	text-align: center;
	padding-bottom: 20px
}

.ticket .ticket-panel .ticket_info.js-refund-info {
	height: 17.0017rem;
	line-height: 17.0017rem
}

.ticket .ticket-panel .ticket_info .weui-icon-success {
	display: inline-block;
	margin-bottom: 10px;
	color: #29b6f6
}

.ticket .ticket-panel .ticket_info h1 {
	font-size: 50px;
	color: #333;
	font-weight: 600
}

.ticket .ticket-panel .ticket_info h3 {
	margin: 0 15px;
	padding: 20px 0 15px;
	line-height: 1;
	font-size: 23px;
	color: #333;
	font-weight: 700;
	text-align: center;
	display: inline-block
}

.ticket .ticket-panel .ticket_info .title_line {
	width: 60px;
	border-radius: 2px;
	margin: 0 auto 15px;
	height: 4px;
	background: -webkit-repeating-linear-gradient(left,#3a98e0,#29b5e9 55%,#2ad5e8 100%);
	background: repeating-linear-gradient(left,#3a98e0,#29b5e9 55%,#2ad5e8 100%)
}

.ticket .ticket-panel .ticket_info .ticket_info_qr {
	position: relative;
	width: 150px;
	height: 150px;
	text-align: center;
	margin: 15px auto
}

.ticket .ticket-panel .ticket_info .ticket_info_qr canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

.ticket .ticket-panel .ticket_info .ticket_info_desc {
	line-height: 1.5;
	font-size: 14px;
	font-weight: 400;
	color: #aaa
}

.ticket .ticket-panel .ticket_info .ticket_info_desc.light {
	font-weight: 300
}

.ticket .ticket-panel .ticket_info .ticket_info_desc.big {
	margin: 30px
}

.ticket .ticket-panel .ticket_btn {
	padding: 0 15px 15px
}

.ticket .ticket-panel .ticket_btn .weui-btn {
	margin-top: 15px
}

.ticket .ticket-panel .ticket_btn .normal-btn {
	display: block;
	width: 100%;
	line-height: 1;
	text-align: center;
	color: #aaa;
	font-size: 14px;
	text-decoration: underline;
	margin-top: 15px
}

.index .index_top {
	position: relative;
	width: 100%;
	min-height: 240px;
	overflow: hidden;
	font-size: 0
}

.index .index_top .top_pic {
	width: 100%;
	z-index: 98;
	overflow: hidden
}

.index .index_memu {
	position: relative;
	width: 100%;
	z-index: 99
}

.index .index_memu .top_memu_mask {
	position: relative;
	width: 100%;
	height: 45px;
	margin-top: -45px;
	background-color: #071d28;
	opacity: .75;
	z-index: 9
}

.index .index_memu .top_memu {
	position: relative;
	height: 45px;
	line-height: 45px;
	margin-top: -45px;
	z-index: 10
}

.index .index_memu .top_memu .memu_text {
	position: relative;
	height: 45px;
	font-size: 0
}

.index .index_memu .top_memu .memu_text a {
	display: inline-block;
	padding: 0 15px;
	font-size: 17px;
	color: #fff;
	line-height: 0;
	vertical-align: middle
}

.index .index_memu .top_memu .memu_text span {
	position: absolute;
	display: inline-block;
	height: 20px;
	width: 1px;
	top: 12px;
	content: "  ";
	background-color: #fff;
	-webkit-transform: scaleX(.5);
	transform: scaleX(.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0
}

.index .index_memu .top_memu .memu_sign {
	position: relative;
	display: inline-block;
	float: right;
	margin-top: -45px;
	height: 55px;
	width: 165px;
	font-size: 0
}

.index .index_memu .top_memu .memu_sign.disabled .memu-triangle {
	border-top-color: #dcdcdc;
	border-right-color: #dcdcdc
}

.index .index_memu .top_memu .memu_sign.disabled .memu_cnt {
	background: #dcdcdc
}

.index .index_memu .top_memu .memu_sign .memu-triangle {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 55px solid #3a98e0;
	border-left: 15px solid transparent;
	font-size: 0;
	border-right: 1px solid #3a98e0
}

.index .index_memu .top_memu .memu_sign .memu_cnt {
	position: absolute;
	left: 15px;
	display: inline-block;
	line-height: 55px;
	width: 150px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: #fff
}

.index .index_title {
	position: relative;
	line-height: 1.2;
	font-size: 23px;
	font-weight: 600;
	color: #333;
	text-align: center;
	padding: 20px 15px 10px;
	background-color: #fff
}

.index .index_title.main {
	padding: 47px 15px 27px
}

.index .index_bg_title h4,.index .index_info_btn,.index .index_memu .top_memu .memu_sign .memu_cnt,.index .index_title .title_line {
	background: -webkit-repeating-linear-gradient(left,#3a98e0,#29b5e9 55%,#2ad5e8 100%);
	background: repeating-linear-gradient(left,#3a98e0,#29b5e9 55%,#2ad5e8 100%)
}

.index .index_title .title_line {
	margin: 15px auto 0;
	width: 60px;
	height: 4px;
	border-radius: 2px
}

.index .index_bg_title {
	text-align: center
}

.index .index_bg_title h4,.index .index_info_btn {
	display: block;
	color: #fff
}

.index .index_bg_title h4 {
	padding: 0 12px;
	font-weight: 300;
	margin: 0 15px 15px;
	height: 26px;
	line-height: 26px;
	font-size: 12px
}

.index .index_info_sigin {
	padding: 0 17px
}

.index .index_info_sigin .info_sigin_top {
	line-height: 1;
	color: #a1afc9;
	vertical-align: baseline
}

.index .index_info_sigin .info_sigin_top .info_sigin_top_left {
	font-size: 16px
}

.index .index_info_sigin .info_sigin_top .info_sigin_top_right {
	float: right;
	line-height: 1;
	margin-top: 3px;
	font-size: 12px
}

.index .index_info_sigin .info_sigin_header {
	margin-top: 15px;
	box-sizing: border-box;
	font-size: 0;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3
}

.index .index_info_sigin .info_sigin_header .reward_user_avatar {
	display: inline-block;
	vertical-align: top;
	width: 28px;
	height: 28px;
	margin: 0 3px 6px
}

.index .index_info_sigin .info_sigin_header .reward_user_avatar img {
	width: 100%;
	height: 100%!important
}

.index .index_info_btn {
	margin: 15px 0 0;
	height: 50px;
	line-height: 50px;
	font-size: 17px;
	text-align: center
}

.index .index_list {
	background-color: #fff;
	padding: 0 15px 30px;
	margin-top: -2px
}

.index .index_list .list_item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 40px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden
}

.index .index_list .list_item:not(:first-child) {
	margin-top: 15px
}

.index .index_list .list_item .list_item_icon {
	display: block;
	height: 40px;
	width: 100px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat
}

.index .index_list .list_item .list_item_icon.time {
	background-image: url(../img/bsui_etc_date.svg)
}

.index .index_list .list_item .list_item_icon.addr {
	background-image: url(../img/bsui_etc_location.svg)
}

.index .index_list .list_item .list_item_icon.price {
	background-image: url(../img/bsui_etc_price.svg)
}

.index .index_list .list_item .item_cnt {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
	margin-left: 10px;
	display: inline;
	vertical-align: middle;
	font-size: 14px;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2
}

.index .index_panel {
	margin-top: 15px;
	padding-bottom: 25px;
	background-color: #fff
}

.index .index_panel .weui-media-box:before {
	border-top: 0
}

.index .index_panel .weui-media-box .weui-media-box__thumb {
	border-radius: 50%
}

.index .index_panel .weui-media-box .weui-media-box__desc {
	text-overflow: inherit;
	-webkit-line-clamp: inherit
}

.index .index_panel .weui-media-box .weui-media-box__ft a {
	display: block;
	padding: 0 10px;
	height: 24px;
	line-height: 26px;
	margin-left: 5px;
	border: 1px solid #2ad5e8;
	text-align: center;
	color: #2ad5e8;
	font-size: 13px
}

.index .index_panel .weui-media-box .weui-media-box__ft a.disabled {
	color: #999;
	border-color: #999
}

.index .index_info {
	margin: 15px 15px 0;
	font-size: 14px;
	color: #333
}

.index .index_info img {
	width: 100%
}

.index .weui-loadmore {
	border-color: #cfdae5;
	width: auto;
	margin: 20px 0 0
}

.index .weui-loadmore .weui-loadmore__tips {
	padding: 0 .3em;
	top: -.96em
}

.index .weui-loadmore .weui-loadmore__tips:before {
	background-color: #cfdae5
}

.weui-search-bar {
	z-index: 1001
}

.weui-search-bar .weui-search-bar__box .weui-icon-search {
	top: 5px;
	line-height: 20px
}

.weui-search-bar .weui-search-bar__label span {
	vertical-align: text-top;
	line-height: 24px
}

.weui-search-bar .weui-search-bar__label .weui-icon-search {
	margin-right: 0;
	vertical-align: text-top;
	line-height: 24px
}

.weui-search-bar .weui-search-bar__cancel-btn {
	font-size: 16px
}

.searchbar-result {
	margin-top: 0;
	display: none
}

.home {
	position: relative
}

.home .weui-slide {
	position: relative;
	overflow: hidden;
	height: 9.37594rem
}

.home .weui-slide:after {
	content: '';
	display: block;
	width: 100%;
	padding-top: 9.37594rem
}

.home .weui-slide ul,.home .weui-slide ul li {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%
}

.home .weui-slide ul li {
	list-style: none
}

.home .weui-slide ul li:first-child {
	z-index: 1
}

.home .weui-slide ul li img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	border: none
}

.home .weui-slide .dot {
	position: absolute;
	left: 50%;
	bottom: 11px;
	width: 100px;
	margin-left: -50px;
	font-size: 0;
	text-align: center
}

.home .weui-slide .dot span {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin-left: 6px;
	background-color: rgba(255,255,255,.5);
	border-radius: 50%
}

.home .weui-slide .dot span:first-child {
	margin-left: 0
}

.home .weui-grids,.home .weui-grids .weui-grid:active,.home .weui-slide .dot .cur {
	background-color: #fff
}

.home .weui-grids .weui-grid:after,.home .weui-grids .weui-grid:before,.home .weui-grids:after,.home .weui-grids:before {
	border: none
}

.home .weui-grids .weui-grid {
	display: block;
	text-align: center;
	line-height: 1
}

.home .weui-grids .weui-grid a {
	display: block;
	width: 2.25022rem;
	margin: 0 auto;
	text-align: center
}

.home .weui-grids .weui-grid.special a {
	width: auto;
	display: inline-block
}

.home .weui-grids .weui-grid .weui-grid__icon,.home .weui-grids .weui-grid .weui-grid__icon #special_img {
	width: 1.87519rem;
	height: 1.87519rem
}

.home .weui-grids .weui-grid .weui-grid__icon:before {
	display: block;
	width: 1.87519rem;
	height: 1.87519rem;
	line-height: 1.87519rem;
	vertical-align: top;
	font-family: "bsui";
	font-size: 28px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	color: #19ad19
}

.home .weui-grids .weui-grid .weui-grid__icon.classify:before {
	content: "\e81e"
}

.home .weui-grids .weui-grid .weui-grid__icon.hot:before {
	content: "\e7b2"
}

.home .weui-grids .weui-grid .weui-grid__icon.special:before {
	content: "\e7cf"
}

.home .weui-grids .weui-grid .weui-grid__icon+.weui-grid__label {
	margin-top: 7px
}

.home .home-list {
	margin-top: 1px
}

.home .home-list .home-title {
	position: relative;
	height: 50px;
	line-height: 50px;
	padding-left: 15px;
	background-color: #fff;
	font-size: 15px;
	color: #333;
	font-weight: 500
}

.home .home-list .home-title i {
	display: inline-block;
	margin-right: 10px;
	vertical-align: text-top;
	width: 3px;
	height: 18px;
	background-color: #19ad19
}

.home .home-list .list-item {
	position: relative;
	overflow: hidden;
	background-color: #fff;
	margin-top: 10px
}

.home .home-list .list-item:first-child {
	margin-top: 0
}

.home .home-list .list-item .list_thumb {
	display: block;
	font-size: 0
}

.home .home-list .list-item .list_thumb img {
	height: 9.37594rem;
	width: 100%
}

.home .home-list .list-item .list_info {
	padding: 15px
}

.home .home-list .list-item .list_info .weui-media-box__title {
	display: block;
	line-height: 1;
	color: #333;
	font-weight: 500
}

.home .home-list .list-item .list_info .info_desc {
	line-height: 1
}

.home .home-list .list-item .list_info .info_desc .weui-media-box__desc {
	display: inline-block;
	margin-top: 8px;
	padding-right: 5px;
	line-height: 1;
	font-size: 12px
}

.home .home-list .list-item .list_info .info_desc .weui-media-box__desc.price {
	float: right;
	margin-top: 8px;
	color: #19ad19
}

.home .home-list .list-item .list_info .info_desc .weui-media-box__info__meta_extra {
	padding-left: 8px
}

.weui-topbar .weui-actionsheet {
	bottom: inherit;
	top: 50px
}

.weui-topbar .weui-actionsheet .weui-actionsheet__menu.choose-city {
	background-color: #f8f8f8;
	padding: 7px 8px
}

.weui-topbar .weui-actionsheet .weui-actionsheet__menu.choose-city .weui-grids .weui-grid:after,.weui-topbar .weui-actionsheet .weui-actionsheet__menu.choose-city .weui-grids .weui-grid:before,.weui-topbar .weui-actionsheet .weui-actionsheet__menu.choose-city .weui-grids:after,.weui-topbar .weui-actionsheet .weui-actionsheet__menu.choose-city .weui-grids:before {
	height: 0;
	border: 0
}

.weui-topbar .weui-actionsheet .weui-actionsheet__menu.choose-city .weui-grids .weui-grid {
	padding: 0;
	text-align: center
}

.weui-topbar .weui-actionsheet .weui-actionsheet__menu.choose-city .weui-grids .weui-grid .city_btn {
	margin: 8px 7px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #333;
	font-weight: 400;
	background-color: #fff
}

.weui-topbar .weui-actionsheet .weui-actionsheet__menu .weui-actionsheet__cell {
	padding-left: 15px;
	font-size: 14px;
	color: #333;
	text-align: left
}

.person {
	height: 100%;
	-webkit-overflow-scrolling: touch
}

.person .person_info .person_opt {
	position: relative;
	font-size: 0
}

.person .person_info .person_opt .header_btn {
	width: 3.75038rem;
	height: 3.75038rem
}

.person .person_top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff
}

.person .person_top .person_top_header {
	position: relative;
	margin: 30px 15px;
	font-size: 0
}

.person .person_top .person_top_header .header_thumb {
	width: 60px;
	height: 60px;
	border-radius: 5px
}

.person .person_top .person_top_info {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
	margin: 30px 0
}

.person .person_top .person_top_info .info_title {
	line-height: 1;
	font-size: 23px;
	font-weight: 500;
	color: #333
}

.person .person_top .person_top_info .info_phone {
	margin: 11px 0 15px;
	font-size: 13px;
	color: #aaa;
	line-height: 1
}

.person .person_top .person_top_info .info_desc {
	position: relative;
	padding-top: 15px;
	line-height: 1.2;
	font-size: 15px;
	color: #aaa;
	margin-right: 15px
}

.person .person_top .person_top_info .info_desc:before {
	content: " ";
	position: absolute;
	right: 0;
	height: 1px;
	color: #d9d9d9;
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	top: 0;
	left: 0;
	border-top: 1px solid #d9d9d9;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0
}

.person .person_top .person_top_info .opt_icon {
	display: inline-block;
	position: absolute;
	top: -3px;
	right: 7px;
	width: 16px;
	height: 16px;
	padding: 8px;
	text-align: center;
	font-size: 0
}

.person .person-opt_list .weui-cell:before {
	left: 46px
}

.person .person-opt_list [class*=" bsui_m_icon-"],.person .person-opt_list [class^=bsui_m_icon-] {
	vertical-align: middle
}

.person .person-opt_list [class*=" bsui_m_icon-"]:before,.person .person-opt_list [class^=bsui_m_icon-]:before {
	width: 20px;
	height: 20px;
	margin: 0 10px 0 0;
	font-size: 18px;
	color: #aaa
}

.share_theme_1,.share_theme_2,.share_theme_3 {
	position: relative;
	height: 100%;
	width: 100%;
	background-image: url(../img/etc_inv_01_bg.png);
	background-size: cover;
	text-align: center;
	overflow: hidden;
	font-size: 14px;
	color: #fff
}

.share_theme_1 .yellow_info {
	color: #eacd76;
	font-weight: 500
}

.share_theme_1 .share_content_top {
	position: absolute;
	top: 8.43834rem;
	width: 100%;
	font-weight: 600
}

.share_theme_1 .share_content_top p {
	display: block;
	margin-top: .31253rem
}

.share_theme_1 .share_content_top p span#inivte_person,.share_theme_2 .share_content_top p span#inivte_person,.share_theme_3 .share_content_top p span#inivte_person {
	font-size: 16px;
	font-weight: 300
}

.share_theme_1 .share_content_top h3,.share_theme_2 .share_content_top h3 {
	margin: .62506rem 3.12531rem;
	line-height: 1.2
}

.share_theme_1 .share_content_bottom {
	position: absolute;
	width: 100%;
	bottom: 1.25012rem
}

.share_theme_1 .share_content_bottom p {
	display: block;
	margin-bottom: .31253rem
}

.share_theme_1 .share_content_bottom p.js-course-addr,.share_theme_2 .share_content_bottom p.js-course-addr {
	margin: 0 3.12531rem
}

.share_theme_1 .share_content_bottom .share_qr_pic {
	width: 100%;
	font-size: 0
}

.share_theme_1 .share_content_bottom .share_qr_pic img,.share_theme_2 .share_content_bottom .share_qr_pic img,.share_theme_3 .share_content_bottom .share_qr_pic img {
	width: 100px;
	height: 100px
}

.share_theme_1 .share_content_bottom .share_qr_tips {
	display: block;
	margin-top: .18752rem;
	font-weight: 300;
	font-size: 14px
}

.share_theme_2,.share_theme_3 {
	background-image: url(../img/etc_inv_02_bg.png);
	color: #000
}

.share_theme_2 .yellow_info {
	color: #ea8176;
	font-weight: 500
}

.share_theme_2 .share_content_top {
	position: absolute;
	top: 8.43834rem;
	width: 100%;
	font-weight: 600
}

.share_theme_2 .share_content_top p {
	display: block;
	margin-top: .31253rem
}

.share_theme_2 .share_content_bottom {
	position: absolute;
	width: 100%;
	bottom: 1.25012rem
}

.share_theme_2 .share_content_bottom p {
	display: block;
	margin-bottom: .31253rem
}

.share_theme_2 .share_content_bottom .share_qr_pic {
	width: 100%;
	font-size: 0
}

.share_theme_2 .share_content_bottom .share_qr_tips {
	display: block;
	margin-top: 0;
	font-weight: 300;
	font-size: 14px
}

.share_theme_3 {
	background-image: url(../img/etc_inv_03_bg.png);
	color: #fff
}

.share_theme_3 .share_theme_cnt {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 3.12531rem;
	right: 3.12531rem
}

.share_theme_3 .yellow_info {
	color: #1bd1a5;
	font-weight: 500
}

.share_theme_3 .share_content_top {
	position: absolute;
	top: 8.43834rem;
	width: 100%;
	font-weight: 600
}

.share_theme_3 .share_content_top p {
	display: block;
	margin-top: .31253rem
}

.share_theme_3 .share_content_top p.left {
	text-align: left
}

.share_theme_3 .share_content_top h3 {
	margin: .62506rem 0;
	line-height: 1.2;
	color: #fff
}

.share_theme_3 .share_content_bottom {
	position: absolute;
	width: 100%;
	bottom: 1.25012rem
}

.share_theme_3 .share_content_bottom p {
	display: block;
	margin-bottom: .31253rem
}

.share_theme_3 .share_content_bottom p.js-course-addr {
	margin: 0 0 .62506rem
}

.share_theme_3 .share_content_bottom .share_qr_pic {
	width: 100%;
	font-size: 0
}

.share_theme_3 .share_content_bottom .share_qr_tips {
	display: block;
	margin-top: .18752rem;
	font-weight: 300;
	font-size: 14px
}

.share_top {
	line-height: 1.2;
	padding: .62506rem 15%;
	font-size: 11px;
	color: #fff;
	font-weight: 300;
	text-align: justify;
	-moz-text-align-last: justify;
	text-align-last: justify
}

.share_top:after {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	height: 0;
	content: '';
	vertical-align: top
}

.share_panel {
	top: -10%;
	bottom: 0;
	height: 100%;
	box-sizing: border-box;
	-webkit-transform: scale(.7,.7);
	transform: scale(.7,.7)
}

.share_bottom,.share_button,.share_panel {
	position: absolute;
	left: 0;
	width: 100%
}

.share_bottom {
	bottom: 2.50025rem;
	background-color: #fff;
	height: 4.37544rem
}

.share_bottom .bottom_item {
	display: block;
	float: left;
	padding: .50005rem 0 .50005rem .50005rem
}

.share_bottom .bottom_item .bottom_item_btn {
	display: block;
	position: relative;
	text-align: center;
	padding: 2px;
	font-size: 0
}

.share_bottom .bottom_item .bottom_item_btn.cur {
	border: 2px solid #29b6f6;
	padding: 0
}

.share_bottom .bottom_item .bottom_item_btn.cur:before {
	position: absolute;
	display: block;
	width: 3.12531rem;
	height: 3.12531rem;
	content: "";
	background-color: rgba(0,0,0,.5)
}

.share_bottom .bottom_item .bottom_item_btn.cur:after {
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	margin-left: -8px;
	margin-top: -8px;
	content: "\EA06";
	font: 16px/1 "weui";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	color: #29b6f6
}

.share_bottom .bottom_item .bottom_item_btn img {
	width: 3.12531rem;
	height: 3.12531rem
}

.share_button {
	bottom: 0;
	height: 2.50025rem;
	line-height: 2.50025rem;
	text-align: center;
	background: -webkit-repeating-linear-gradient(left,#3a98e0,#29b5e9 55%,#2ad5e8 100%);
	background: repeating-linear-gradient(left,#3a98e0,#29b5e9 55%,#2ad5e8 100%);
	color: #fff;
	font-size: 17px
}

.active_page .active_main .active_cnt .cnt_btn .active_btn.disabled,.share_button.disabled {
	color: #fff;
	background: #dcdcdc
}

.org .org-header {
	position: relative;
	padding: 25px 15px 0;
	background-color: #fff;
	text-align: center
}

.org .org-header .header-icon {
	width: 60px;
	height: 60px;
	border-radius: 50%
}

.org .org-header h3 {
	font-size: 23px;
	color: #000
}

.org .org-header .header-a {
	display: inline-block;
	position: absolute;
	top: 25px;
	right: 15px;
	padding: 0 10px;
	height: 24px;
	line-height: 26px;
	margin-left: 5px;
	border: 1px solid #19ad19;
	text-align: center;
	color: #19ad19;
	font-size: 13px
}

.org .org-header .header-a.disabled {
	color: #999;
	border-color: #999
}

.org .org-header .header-info {
	min-height: 53px
}

.org .org-header .header-info p {
	text-align: left;
	font-size: 15px;
	color: #999;
	line-height: 1.2;
	display: -webkit-box;
	overflow: hidden;
	white-space: normal!important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical
}

.org .org-header .header-info a.header-switch {
	display: block;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	color: #586c94
}

.active_page,.active_page .active_main:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover
}

.active_page .active_main {
	position: absolute;
	top: 1.25012rem;
	left: 1.25012rem;
	bottom: 1.25012rem;
	right: 1.25012rem;
	overflow: hidden
}

.active_page .active_main:before {
	content: "";
	margin: -1.25012rem;
	z-index: 0;
	-webkit-filter: blur(10px);
	filter: blur(10px)
}

.active_page .active_main .active_cnt {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: .93759rem;
	overflow-y: auto;
	background-color: rgba(0,0,0,.2);
	color: #fff
}

.active_page .active_main .active_cnt .cnt_title {
	line-height: 1.5;
	text-align: center;
	font-size: 20px;
	font-weight: 600
}

.active_page .active_main .active_cnt .cnt_person {
	margin: 1.87519rem auto;
	text-align: center;
	font-size: 0
}

.active_page .active_main .active_cnt .cnt_person * {
	display: inline-block;
	vertical-align: middle
}

.active_page .active_main .active_cnt .cnt_person img {
	border: 2px solid #fff;
	width: 3.12531rem;
	line-height: 3.12531rem;
	border-radius: 50%
}

.active_page .active_main .active_cnt .cnt_person h3 {
	margin-left: .93759rem;
	font-size: 20px
}

.active_page .active_main .active_cnt .cnt_intr {
	margin-top: 1.75018rem;
	line-height: 1.2;
	font-size: 12px;
	font-weight: 200
}

.active_page .active_main .active_cnt .cnt_prize_title {
	height: 3.25033rem;
	line-height: 3.0003rem;
	margin-top: 1.25012rem;
	text-align: center;
	font-size: 20px;
	font-weight: 600
}

.active_page .active_main .active_cnt .cnt_prize_title.gold {
	background: url(../img/wx_etc_bg_gold.png) center no-repeat;
	background-size: contain
}

.active_page .active_main .active_cnt .cnt_prize_title.silver {
	background: url(../img/wx_etc_bg_silver.png) center no-repeat;
	background-size: contain
}

.active_page .active_main .active_cnt .cnt_prize_title.bronze {
	background: url(../img/wx_etc_bg_bronze.png) center no-repeat;
	background-size: contain
}

.active_page .active_main .active_cnt .cnt_info {
	margin-top: .62506rem
}

.active_page .active_main .active_cnt .cnt_info .center {
	text-align: center
}

.active_page .active_main .active_cnt .cnt_info p {
	line-height: 1.5;
	font-size: 15px;
	font-weight: 400
}

.active_page .active_main .active_cnt .cnt_info h1.big {
	line-height: 50px;
	font-size: 36px;
	font-weight: 600
}

.active_page .active_main .active_cnt .cnt_info .small {
	font-size: 12px;
	font-weight: 200
}

.active_page .active_main .active_cnt .cnt_info .small font,.active_page .active_main .active_cnt .cnt_info p.desc font {
	font-weight: 600
}

.active_page .active_main .active_cnt .cnt_info p.desc {
	font-size: 17px;
	font-weight: 300
}

.active_page .active_main .active_cnt .cnt_img {
	width: 80%;
	margin: 2.50025rem auto 0;
	text-align: center
}

.active_page .active_main .active_cnt .cnt_img img {
	width: 100%;
	border-radius: 5px
}

.active_page .active_main .active_cnt .cnt_img img.animate {
	-webkit-animation: yaoyiyao 1s linear 0s infinite;
	animation: yaoyiyao 1s linear 0s infinite
}

.active_page .active_main .active_cnt .cnt_img .img_desc {
	margin-top: .75008rem;
	text-align: center;
	font-size: 17px;
	line-height: 1.2
}

.active_page .active_main .active_cnt .cnt_input {
	margin-top: 1.87519rem;
	text-align: center
}

.active_page .active_main .active_cnt .cnt_input input {
	width: 12.50125rem;
	height: 2.81278rem;
	line-height: 2.81278rem;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid rgba(255,255,255,.4);
	background-color: transparent;
	text-align: center;
	color: #fff;
	font-size: 17px
}

.active_page .active_main .active_cnt .cnt_input input:focus {
	outline: 0
}

.active_page .active_main .active_cnt .cnt_btn {
	margin: 1.87519rem .93759rem .93759rem
}

.active_page .active_main .active_cnt .cnt_btn .active_btn {
	width: 100%;
	height: 3.12531rem;
	line-height: 3.12531rem;
	border: 0;
	text-align: center;
	background: -webkit-repeating-linear-gradient(left,#3a98e0,#29b5e9 55%,#2ad5e8 100%);
	background: repeating-linear-gradient(left,#3a98e0,#29b5e9 55%,#2ad5e8 100%);
	color: #fff;
	font-size: 17px;
	border-radius: 50px
}

.active_page .active_main .active_cnt_close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: .87509rem;
	height: .87509rem;
	background: url(../img/lambda_ic_close.svg) center no-repeat;
	background-size: contain;
	border: 0
}

.active_page .active_main .active_prize_list {
	margin-top: 1.25012rem
}

.active_page .active_main .active_prize_list li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 2.93779rem;
	padding: 0 .93759rem 0 0;
	font-size: 17px;
	color: #fff
}

.active_page .active_main .active_prize_list li:nth-child(odd) {
	background: rgba(0,0,0,.2)
}

.active_page .active_main .active_prize_list li label {
	width: 2.81278rem;
	height: 2.93779rem;
	line-height: 2.93779rem;
	text-align: center
}

.active_page .active_main .active_prize_list li label img {
	width: 20px;
	margin-top: 8px
}

.active_page .active_main .active_prize_list li .prize_item_cnt {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.active_page .active_main .active_prize_list li .prize_item_cnt img {
	margin-top: .50005rem;
	width: 1.87519rem;
	height: 1.87519rem;
	border-radius: 50%
}

.active_page .active_main .active_prize_list li .prize_item_cnt span {
	margin-left: .37504rem;
	height: 2.93779rem;
	line-height: 2.93779rem
}

.active_page .active_main .active_prize_list li .prize_item_core {
	height: 2.93779rem;
	line-height: 2.93779rem
}

@-webkit-keyframes yaoyiyao {
	0%,to {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	25% {
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg)
	}

	75% {
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg)
	}
}

@keyframes yaoyiyao {
	0%,to {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	25% {
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg)
	}

	75% {
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg)
	}
}

.active_chat,.active_chat .chat_panel .chat_cnt {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto
}

.active_chat {
	top: 0;
	background-color: #fff
}

.active_chat .chat_panel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 3.12531rem;
	overflow-x: hidden;
	overflow-y: auto
}

.active_chat .chat_panel .chat_header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 8.12581rem;
	padding-top: 1.87519rem;
	background-size: cover;
	text-align: center;
	font-size: 0
}

.active_chat .chat_panel .chat_header img {
	border: 2px solid #fff;
	width: 3.75038rem;
	height: 3.75038rem;
	border-radius: 50%;
	box-shadow: 0 2px 2px rgba(0,0,0,.16),0 2px 2px rgba(0,0,0,.23)
}

.active_chat .chat_panel .chat_header h3 {
	margin-top: .62506rem;
	font-size: 15px;
	line-height: 1;
	color: #fff;
	text-shadow: 0 2px 2px rgba(0,0,0,.16),0 2px 2px rgba(0,0,0,.23)
}

.active_chat .chat_panel .chat_header .header_title {
	margin: .62506rem .62506rem 0;
	font-size: 13px;
	color: #fff;
	text-shadow: 0 2px 2px rgba(0,0,0,.16),0 2px 2px rgba(0,0,0,.23)
}

.active_chat .chat_panel .chat_cnt {
	top: 10.001rem;
	padding: .93759rem
}

.active_chat .chat_panel .chat_cnt .system_msg {
	line-height: 1;
	text-align: center;
	color: #29b6f6;
	font-size: 14px
}

.active_chat .chat_panel .chat_cnt .chat_msg {
	margin-top: .93759rem
}

.active_chat .chat_panel .chat_cnt .chat_msg .msg_text {
	padding: .93759rem;
	background-color: #eff2f7;
	border-radius: 5px;
	line-height: 1.5;
	font-size: 17px;
	color: #1e2d3d
}

.active_chat .chat_panel .chat_cnt .chat_msg .msg_loading {
	height: 12px;
	line-height: 12px;
	margin-top: .50005rem;
	text-align: right
}

.active_chat .chat_panel .chat_cnt .chat_msg .msg_loading .object {
	width: 5px;
	height: 5px;
	background-color: #8392a6;
	display: inline-block;
	margin-right: 5px;
	margin-top: 3px;
	border-radius: 50% 50% 50% 50%
}

.active_chat .chat_panel .chat_cnt .chat_msg .msg_loading .object#object_one {
	-webkit-animation: point_scale 1.5s infinite;
	animation: point_scale 1.5s infinite
}

.active_chat .chat_panel .chat_cnt .chat_msg .msg_loading .object#object_three,.active_chat .chat_panel .chat_cnt .chat_msg .msg_loading .object#object_two {
	-webkit-animation: point_scale 1.5s infinite;
	animation: point_scale 1.5s infinite;
	-webkit-animation-delay: .25s;
	animation-delay: .25s
}

.active_chat .chat_panel .chat_cnt .chat_msg .msg_loading .object#object_three {
	-webkit-animation-delay: .5s;
	animation-delay: .5s
}

.active_chat .chat_panel .chat_cnt .chat_msg .msg_status {
	display: block;
	margin-top: .50005rem;
	line-height: 1;
	font-size: 12px;
	color: #8392a6;
	text-align: right
}

.active_chat .chat_input {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3.12531rem
}

.actionsheet_cnt:before,.active_chat .chat_input:before {
	content: " ";
	position: absolute;
	top: 0;
	height: 1px;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5)
}

.active_chat .chat_input:before {
	left: 0;
	right: 0;
	border-top: 1px solid #e0e6ed;
	color: #e0e6ed
}

.active_chat .chat_input .input_cnt {
	height: 3.12531rem;
	line-height: 3.12531rem;
	border: 0;
	outline: 0;
	margin: 0 .93759rem;
	font-size: 17px;
	font-weight: 400;
	color: #c0ccda
}

#chatActionsheet .weui-picker__hd,.actionsheet_cnt {
	padding: .62506rem .93759rem;
	background-color: #fff
}

#chatActionsheet .weui-picker__hd .weui-picker__action {
	font-size: 15px;
	color: #8392a6
}

#chatActionsheet .weui-picker__hd .weui-picker__action#chatActionsheetOK {
	color: #29b6f6
}

#chatActionsheet .weui-actionsheet__cell {
	padding: 5px 10px;
	text-align: left;
	font-size: 15px;
	color: #8392a6
}

.actionsheet_cnt:before {
	left: .93759rem;
	right: .93759rem;
	border-top: 1px solid #eaeefb;
	color: #eaeefb
}

.actionsheet_cnt .chat_area {
	height: 6.25063rem;
	width: 100%;
	outline: 0;
	border: 0;
	border-radius: 0;
	resize: none;
	font-size: 17px;
	color: #1e2d3d
}

@-webkit-keyframes point_scale {
	75% {
		-webkit-transform: scale(.25);
		transform: scale(.25)
	}
}

@keyframes point_scale {
	75% {
		-webkit-transform: scale(.25);
		transform: scale(.25)
	}
}

.list-loading {
	position: relative;
	width: 50px;
	height: 50px;
	margin: 1.25012rem auto;
	text-align: center
}

.list-loading div {
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	position: absolute;
	left: 0;
	top: 0;
	border: 2px solid #19ad19;
	border-bottom-color: transparent;
	border-top-color: transparent;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	-webkit-animation: rotate 1s 0s ease-in-out infinite;
	animation: rotate 1s 0s ease-in-out infinite;
	opacity: .75
}

.list-loading div:last-child {
	display: inline-block;
	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	border-color: #19ad19 transparent;
	-webkit-animation-direction: reverse;
	animation-direction: reverse
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg) scale(1);
		transform: rotate(0deg) scale(1)
	}

	50% {
		-webkit-transform: rotate(180deg) scale(.6);
		transform: rotate(180deg) scale(.6)
	}

	to {
		-webkit-transform: rotate(360deg) scale(1);
		transform: rotate(360deg) scale(1)
	}
}

@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg) scale(1);
		transform: rotate(0deg) scale(1)
	}

	50% {
		-webkit-transform: rotate(180deg) scale(.6);
		transform: rotate(180deg) scale(.6)
	}

	to {
		-webkit-transform: rotate(360deg) scale(1);
		transform: rotate(360deg) scale(1)
	}
}

.err_main {
	margin: 10.31353rem auto auto;
	height: 10.001rem;
	text-align: center
}

.err_main .err_box {
	width: 6.25063rem;
	height: 6.25063rem;
	margin: 0 auto;
	border-radius: 50%;
	background: #d9d9d9 url(../img/err.png) center no-repeat;
	background-size: 50%
}

.err_main .err_info {
	margin-top: .93759rem;
	color: #999;
	font-size: 14px
}

.weui-footer {
	padding: 10px 0;
	color: #a1afc9
}

.weui-footer .weui-footer__text {
	color: #999
}